{:paths ["scripts"]

 :deps
 {}

 :tasks
 {go
  {:doc "pre-flight checks before committing"
   :enter (println "Running pre-flight checks...")
   :task (run '-go {:parallel true})}

  -go
  {:depends [test lint]}

  clj:repl
  {:doc "Start repl"
   :task (shell "clojure -M:repl")}

  bb:repl
  {:doc "bb nrepl server"
   :task (shell "bb nrepl-server")}

  test
  {:doc "Run tests"
   :enter (println "Running tests...")
   :task (shell "./bin/kaocha")}

  test:watch
  {:doc "Run tests watch mode"
   :task (shell "./bin/kaocha --watch")}

  lint
  {:doc "Lint project"
   :enter (println "Running linter...")
   :task
   (shell {:continue true} "clj-kondo --lint src --lint test --parallel")}}}
